[2016-12-13 23:13] omniphx opened #1 "How to set the font to Anonymice Powerline in cmder?"
Hey might be a stupid question, but how do I set the font to Anonymice Powerline in cmder?

Will the .lau file load it as long as it's installed?

Thanks!

[2016-12-14 22:52] AmrEldib commented on #1
Hi @omniphx
You can set the font using the Settings dialog. On the left choose _Main_, then change the _Main console font_

[2016-12-15 15:28] omniphx commented on #1
Oh thank you so much! For some reason, I've been using cmder for over a year and just realized I could click Main. Thought it was just a directory.. *doh!*

[2016-12-15 15:28] #1 closed, assigned to nobody

[2016-12-17 09:18] aplocher opened #3 "Console full of "LF will be replaced by CRLF" warnings when in git directory"
See screenshot below.  When I am in a git directory and type any command, I receive the warning (below) twice.

_warning: LF will be replaced by CRLF in .idea/.idea.Maranatha.DbApp/riderModule.iml.
The file will have its original line endings in your working directory._

![2016-12-17_01h14_35](https://cloud.githubusercontent.com/assets/1132447/21285746/76f87d5c-c3f6-11e6-810b-d5f1e0c1df04.png)

At

[2016-12-18 00:03] AmrEldib commented on #3
Thanks for reporting this, @aplocher I'll look into it

[2016-12-22 12:06] dofine opened #4 "How to add current date time?"
Thanks for this beautiful config!

[2017-01-03 18:42] Tset-Noitamotua opened #5 "How to show active python virtual environment in prompt?"
I have used below code (in file `C:\tools\cmder\config\pyenv_prompt_config.lua`) to display which virtual python env is activated. It's not my code, I have found it on Github or Stackoverflow and I have no clue about Lua :(

Could it be combined somehow with your cmder-powerline-prompt?

[code]

Thats how it looked:

![example_prompt](https://cloud.githubusercontent.com/assets/5635462/17400492/838

[2017-01-04 04:23] AmrEldib commented on #5
Hi @Tset-Noitamotua This looks promising!
You can register a function as a filter and assign it a rank, and Clink (which Cmder uses in the background) will apply this filter to the prompt. See [this line](https://github.com/AmrEldib/cmder-powerline-prompt/blob/master/powerline_prompt.lua#L191) in the `powerline_prompt.lua` file.
[code]
Here `colorful_git_prompt_filter` is the function, and `60` is

[2017-01-04 06:36] Tset-Noitamotua commented on #5
I'll try it.

What is the rank for? Is it kind of a prioraty to which filter will apply?

[2017-01-04 06:49] Tset-Noitamotua commented on #5
yep yep yep

![image](https://cloud.githubusercontent.com/assets/5635462/21633694/c9c76584-d251-11e6-92cc-d51baa6c1643.png)
(... font is missing on my recent machine)

## cmder-powerline-venv-prompt :)

powerline_venv_prompt.lua
[code]

Thanke You!

Cheers
Tset

[2017-01-04 08:04] Tset-Noitamotua commented on #5
... if I just could code as good as this looks - damn it!!!  :-)))

Font name is (in case somebody cares) `Roboto Mono Medium for Powerline`, Size 14, Anti-aliasing=ClearType

![image](https://cloud.githubusercontent.com/assets/5635462/21635096/fde12af8-d25b-11e6-9fe8-8f0905d21438.png)

[2017-01-04 17:21] AmrEldib commented on #5
That's great @Tset-Noitamotua
I suggest that this becomes its own plugin in a separate repo. This way, those who are interested in the Git integration get that only, and those interested in Python integration get that only.
See the [README](https://github.com/AmrEldib/cmder-powerline-prompt/blob/master/README.md) for this project on how to easily install a plugin.

[2017-01-04 19:21] AmrEldib commented on #3
I think Cmder is changing how it's checking the status of the Git repo to something that will suppress all warnings, and won't lock the repo a read-only operation. See [this line](https://github.com/cmderdev/cmder/blob/master/vendor/clink.lua#L228). This needs more investigation.

[2017-01-05 10:20] Tset-Noitamotua commented on #5
I did a fork. New repo is here: [cmder-powerline-venv-prompt](https://github.com/Tset-Noitamotua/cmder-powerline-venv-prompt)

Cheers
Tset

[2017-01-08 16:05] aplocher commented on #3
Are you talking about using `git status` instead of `git diff`?  Their command is using the `2>nul` to prevent errors from showing.  That should fix this particular issue, whether its diff or status that's being called.

[2017-01-09 00:10] AmrEldib commented on #3
Yes, it seems the latest version of Cmder has switched to using `git status` instead of `gis diff`, and they added `2>null` ([see here](https://github.com/cmderdev/cmder/blob/v1.3.2/vendor/clink.lua#L228)). I'll be updating to this.

[2017-01-18 23:40] bitbonk opened #7 "Promt does not change"
I installed Cmder using `choco install cmder` today. It was installed into **c:\tools\cmder**
Then I downloaded [the fonts](https://github.com/powerline/fonts) and installed them all using **install.ps1** from that repo.
Then I downloaded **powerline_prompt.lua** from this repo and placed it in **powerline_prompt.lua**.
Then I restarted Cmder.

Nothing happens, the promit still looks the same:

![

[2017-01-18 23:57] AmrEldib commented on #7
Hi @bitbonk
make sure the instance of Cmder you're running is at the same location as the instance you install the `.lua` file to.
In the command line, type `echo %CMDER_ROOT%`.
Make sure the current instance is at the same location. You can use `which cmder`, or use the Windows Task Manager to figure out the location of the Cmder process.
Make sure to place the file at `%CMDER_ROOT%\config`

[2017-01-19 00:25] bitbonk commented on #7
OK, I guess this prompt only works if I start `cmder.exe` directly. When I start `cmd.exe` (which was preplaced with cmder) or when I start  `{Git bash}` this kind of prompt is not there.

![image](https://cloud.githubusercontent.com/assets/418030/22088563/48733478-dde5-11e6-9dc3-cd987a1348b8.png)
![image](https://cloud.githubusercontent.com/assets/418030/22088598/9174af76-dde5-11e6-9c24-c9849f7fa

[2017-01-19 00:33] AmrEldib commented on #7
It's normal for the prompt to only work with `Cmder` and not the other shells. That's expected.

As for the Git error, this seems to happen to new repos (see this [SO answer](http://stackoverflow.com/questions/12267912/git-fatal-ambiguous-argument-head-unknown-revision-or-path-not-in-the-workin#12887486)). Maybe there's something we can do to avoid using HEAD. PR #6 changes the git command to avoi

[2017-01-19 03:32] #3 closed, assigned to AmrEldib

[2017-01-19 04:06] AmrEldib commented on #3
@aplocher checking git status has been updated. Let me know if there's still any issue. Thanks!

[2017-01-19 04:08] AmrEldib commented on #7
@bitbonk I've added a [Font](https://github.com/AmrEldib/cmder-powerline-prompt#font) section to README to clarify how the symbol can show correctly while using a different font.
The git error should be resolved now as well. I'll close this, but please let me know if you're still have problems. Thanks!

[2017-01-19 04:08] #7 closed, assigned to nobody

[2017-01-19 04:09] AmrEldib commented on #4
Thanks for the suggestion, but I think this is more suitable for a separate plugin/prompt.

[2017-01-19 04:09] #4 closed, assigned to nobody

[2017-01-19 13:33] bitbonk commented on #7
Wow, what an impressive reponse time! Thanks, everything works fine now!

[2017-01-19 16:01] AmrEldib commented on #7
@bitbonk lol, you just got lucky this time, I was scheduled to work on this yesterday :)

[2017-02-06 01:57] tvercruysse opened #8 "Slow feedback"
Command has no lag, but returning the prompt in a git repo results in lag. due to old way of checking for diff. (cmder updated this. if i was any better in lua i would fix it myself, but i cant.)

[2017-02-07 02:13] AmrEldib commented on #8
@tvercruysse  I've recently changed how git status is checked following Cmder example, can you explain how Cmder updated this? Thanks!

[2017-02-09 16:37] tvercruysse commented on #8
Like i said, im a total noob in Lua development. but ill do a PR and replace it with my current file.

[2017-02-17 14:49] loic-moriame opened #11 "Custom prompt doesn't detect changes"
Hello!

My cmder prompt doesn't worked as expected.
I follow your instructions, but my prompte always show me an unmodified git repo..

![cmder-powerline-prompt-error](https://cloud.githubusercontent.com/assets/536434/23029771/e57fb60a-f46b-11e6-887b-bb89d683e59b.png)

I guess the function get_git_status() doesn't return the right value.
I try an other function and it's works better:
[code]
![imag

[2017-02-17 20:05] AmrEldib commented on #11
@moriame what version of Git to you have installed? You can find that by running `git --version`
if you run the command `git status --no-lock-index`, do you get an error?
The argument `--no-lock-index` was added in the latest git version 2.11

[2017-02-17 20:14] #8 closed, assigned to nobody

[2017-02-17 23:06] loic-moriame commented on #11
Just make a fresh install of Cmder and I get this:
[code]
and has expected:
[code]

[2017-02-17 23:08] AmrEldib commented on #11
I think updating git to 2.11 should resolve this.

[2017-02-18 19:38] loic-moriame commented on #11
I just update "git-for-windows" inside ~/cmder/vendor to git 2.11.1: probleme resolve 👍

[2017-02-18 19:38] #11 closed, assigned to nobody

[2017-03-20 08:38] benavern opened #12 "Customisation"
Hi!

This is not an issue, I just wanted to say THANK YOU!
I used a big part of this code here : [https://github.com/benavern/cmder_custom](cmder customisations).
Is this a problem for you ?
I modifyed it a bit :
* The status command was not working
* Styled node package informations
* ~ for home in pwd part & usable in commands

Hope you'll like it

[2017-03-20 17:29] AmrEldib commented on #12
@benavern this is great! I really like adding additional (maybe we'll call them) carts.
You can use the code with attribution, which I see you did in the README.
I'm working on moving this prompt to PowerShell (which I'm switching to), and it'll be cool to add extra functionality. I might copy some of your ideas, if that's alright :)

[2017-03-20 18:17] benavern commented on #12
Yes of course, you can !
Looking forward to see what you'll add...
I'll stay on CMD but maybe be able to help you customise this one the same way you'll do for powershell...

[2017-03-20 23:31] #12 closed, assigned to nobody

[2017-03-21 03:28] AmrEldib commented on #12
@benavern here's the [powershell prompt](https://github.com/AmrEldib/cmder-powershell-powerline-prompt)

[2017-03-27 15:52] mrchief opened #13 "Can't get it to work with current version"
I've followed up the readme to the letter, reinstalled from scratch, reset to factory settings and tried many things but I can't seem to get it working.

Any ideas?

![image](https://cloud.githubusercontent.com/assets/781818/24365389/c3ac1b72-12e3-11e7-8040-e921e81495cd.png)

![image](https://cloud.githubusercontent.com/assets/781818/24365391/c84e4c54-12e3-11e7-8804-989b30e21e1b.png)

[2017-03-27 16:51] mrchief commented on #13
Taking a cue from https://github.com/cmderdev/cmder/issues/990 and the fact that I wasn't getting the standard lambda prompty, I thought of uninstalling Clink that was installed system wide. And voila!

![image](https://cloud.githubusercontent.com/assets/781818/24367815/057042d8-12ec-11e7-8b4d-0bdbd68a90a5.png)

[2017-03-27 16:51] #13 closed, assigned to nobody

[2017-04-05 17:39] Marlysson opened #14 "Customizing not worked"
I putted the content of this repository in my clink.lua and restarted the cmder console , but nothing happened.

[2017-04-20 03:52] shern91 opened #15 "Blue background not working when in git repo"
Hi, I followed all those step to setup my cmder, it work fine when I in normal directory. But when I "cd" into my git repo, the blue background is not working, back to normal view. (The only step I didn't follow was copy all the init.bat you provided replace to my current init.bat, I just copy certain code didn't exist in my current init.bat and add into it, If I replace your init.bat to my init.b

[2017-05-21 03:46] zhang1900 opened #16 "about (CJK) character directory"
## description
*　add powerline,english directory is fine ,(CJK) character directory no good
*　no powerline,all is fine
![good_show](https://cloud.githubusercontent.com/assets/1811932/26280955/0e071540-3e19-11e7-808d-d46897a781a3.jpg)
![mistake-show](https://cloud.githubusercontent.com/assets/1811932/26280956/0ff6a1fe-3e19-11e7-90dc-79f2e612bcb0.jpg)

## environment
＊　cmder:Version v1.3.2
＊　OS:win7

[2017-06-07 05:23] novakin commented on #15
same issue

[2017-06-07 06:06] AmrEldib commented on #15
Some users ran into issues with character encoding, I've clarified the settings for it in the [Font section](https://github.com/AmrEldib/cmder-powerline-prompt#font). Please make sure to apply those changes.
@shern91 you've mentioned changes to the `init.bat` file, but this prompt doesn't require changes to this file. You just need to place the `.lua` file in the `%CMDER_ROOT%/config` folder. What

[2017-06-07 06:08] novakin commented on #15
I have the same issue as @shern91, with cmd, in a git repo, it fallsback to the default display.

I have placed the lua file in the %CMDER_ROOT%/config, I have modified the settings as stated in the readme

[2017-06-07 06:09] AmrEldib commented on #16
Hi @zhang1900
Are you looking to add this as a feature, or are you having a problem with it? Please clarify. Thanks!

[2017-06-07 06:15] AmrEldib commented on #15
@novakin what version of Cmder and Git? do you get the result in the [second screenshot](https://cloud.githubusercontent.com/assets/16183843/25212821/6120998a-25bf-11e7-96d9-46c69cf5850b.png)?

[2017-06-07 07:10] novakin commented on #15
@AmrEldib Yes I do get the result of the second screen.

I have the latest version of CMDER, latest stable version of ConEmu (also tested with latest alpha) and latest of GIT (2.13.0.windows.1)

[2017-06-20 23:33] DevotionGeo opened #17 "Diplay current directory, not the path."
Thank You for the nice prompt! I didn't expect, that I'll be able to use that beautiful "Oh my zsh (zshell)" prompt inside windows.
I never used Lua, so it will be very hard for me to find and edit the chunk of code responsible for adding full path to the prompt.

I'd like to have only current folder's name in the prompt without having the whole path.

Thank You again!

[2017-06-21 04:16] AmrEldib commented on #14
Hi @Marlysson
The file `powerline_prompt.lua` should be placed in the `%CMDER_ROOT%/config` folder.
Read more in the [Usage](https://github.com/AmrEldib/cmder-powerline-prompt) section

[2017-06-21 04:40] AmrEldib commented on #17
[Line 5](https://github.com/AmrEldib/cmder-powerline-prompt/blob/master/powerline_prompt.lua#L5) in `powerline_prompt.lua` returns the current working directory. Splitting that string to get only the directory name should do the trick.
However, lua doesn't have a straightforward way to do this without an additional library. A function is needed that uses `strfind` and `strsub`. Here's a reference

[2017-06-21 05:29] #17 closed, assigned to AmrEldib

[2017-06-21 05:29] AmrEldib commented on #17
Seems like this was an older version of lua. [Latest version](https://www.lua.org/manual/5.3/manual.html#6.4) makes it easier.

[2017-06-21 05:31] AmrEldib commented on #17
@DevotionGeo I've updated the file to add this feature. Read [this section](https://github.com/AmrEldib/cmder-powerline-prompt#configuration) to use it.

[2017-06-21 05:33] AmrEldib commented on #15
Hi @shern91 @novakin I've tested with the latest version of git, but I"m not able to reproduce this problem :(
I'll close this, but if you can provide more details to help narrow down the cause of the problem, I'm happy to help.

[2017-06-21 05:33] #15 closed, assigned to nobody

[2017-06-21 09:02] DevotionGeo commented on #17
Thank You so much!

I removed the newline and the λ character too, and now it looks super awesome!
![cmder](https://user-images.githubusercontent.com/7348138/27376264-066bbdd8-568b-11e7-9fbb-d98387951b81.JPG)

[2017-06-30 04:51] shern91 commented on #15
Hi @AmrEldib I solve the background problem with reinstall the cmder. But now the only problem i faced is cmder can't get yellow background for changes, will always show green background no matter the repo is clean or changes.

![cmder](https://user-images.githubusercontent.com/16183843/27721443-df73f506-5d92-11e7-9f2f-0efb171aa63b.png)

[2017-07-25 03:24] sparkline-francisv opened #18 "Activating python/Conda environment doesn't show up in prompt"
When I activate a conda/Python environment using "activate <env_name>" doesn't change/update the prompt.

[2017-07-25 22:33] AmrEldib commented on #18
The prompt includes Git status, but nothing for Python

[2017-08-11 07:19] OBats opened #19 "Customizing within git bash"
Hi.

Is there any way to use your customization with cmder_mini and git bash on it?
Just dropping `.lua` file in `%CMDER_ROOT%/config` doesn't help.

I prefer linux bash instead cmd. So will be very happy if there is such possibility.

Thanks 👍

[2017-09-03 12:43] ararog opened #20 "Missing latin characters"
Some latin characters like é ó ú are show as squares.

[2017-09-03 16:45] AmrEldib commented on #20
I think the answer to that is related to ConEmu settings. See Alternative font and Unicode ranges in [Main Page](https://conemu.github.io/en/SettingsMain.html).
Cmder uses ConEmu in the background.

[2017-09-03 18:44] ararog commented on #20
No luck, I'm also using consolas as main font and Anonymice Powerline as alternative.

[2017-09-04 21:40] AmrEldib commented on #20
@ararog do they show up like that when you type them or in the prompt as output?
I set up the same fonts and I could type without a problem (copied the letters you listed above and pasted them).
I'm using this Unicode range: `CJK: 2E80-9FC3;AC00-D7A3;F900-FAFF;FE30-FE4F;FF01-FF60;FFE0-FFE6;`

[2017-09-04 21:42] AmrEldib commented on #19
I think if you prefer Linux bash, try using [ohmyzsh](http://ohmyz.sh/) especially if you use the new [Linux subsystem on Windows 10](https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/). I use ohmyzsh on my Linux machine, and it's great.
sorry for the late answer

[2017-09-04 21:43] #18 closed, assigned to nobody

[2017-09-04 21:43] #16 closed, assigned to AmrEldib

[2017-09-04 21:43] #14 closed, assigned to nobody

[2017-09-05 06:50] OBats commented on #19
Thanks for an answer!

I meant that I use cmder with [git for windows](https://git-scm.com/download/win) and it behaves just like the "git" command in LINUX and UNIX environments.

So I`m wondering is there any way to integrate your plugin with git for windows?

[2017-09-05 19:27] AmrEldib commented on #19
@OBats I don't think this will work well. I had to [re-create this prompt to work in the PowerShell prompt](https://github.com/AmrEldib/cmder-powershell-powerline-prompt) in Cmder. I think it needs a similar effort to work in the Bash shell.

[2017-09-05 19:27] #19 closed, assigned to nobody

[2017-11-03 07:16] alan-agius4 opened #22 "Attempt to call global 'get_git_branch' (a nil value)"
I am getting this error when ever I am using it in a `git` repo

[code]

[2017-11-03 07:21] alan-agius4 commented on #22
reinstalling cmder fixed the problem

[2017-11-03 07:21] #22 closed, assigned to nobody

[2017-11-28 18:29] Starli0n opened #23 "λ character disappeared"
Hi,

λ character disappeared after this step

* Download the .lua file, and place it in %CMDER_ROOT%/config folder.

![image](https://user-images.githubusercontent.com/3925813/33336995-e424e74e-d471-11e7-9eb7-654a6d5154dc.png)

But it seems to be there but not shown

![image](https://user-images.githubusercontent.com/3925813/33337134-4ce1f77c-d472-11e7-9445-b765120c0ecb.png)

Could you please help

[2017-11-29 08:55] Starli0n commented on #23
I found the solution [there](https://github.com/cmderdev/cmder/issues/1529)

In line 24 from `powerline_prompt.lua`

Replace

`    prompt = "\x1b[37;44m{cwd} {git}{hg}\n\x1b[1;30;40m{lamb} \x1b[0m"`

by

`    prompt = "\x1b[37;44m{cwd} {git}{hg}\n\x1b[1;39;40m{lamb} \x1b[0m"`

[2017-12-04 16:10] ywyt738 commented on #16
I have the same question.
In your lua file, you get the current dictory through ``clink.get_cwd()``.
According to https://github.com/mridgers/clink/issues/415, it returns ``windows-1252`` not ``utf-8``.

[code]
I guess that transfering the result of ``get_cwd()`` to utf-8, it will be ok, but I can't use lua. 😭

[2017-12-12 18:05] otherdave commented on #23
I just saw this too and was so glad to see an issue for it. @Starli0n do you want to open a PR for this so it gets back into the repo? I'm not sure how risky this is for anything else.

[2017-12-14 19:05] AmrEldib commented on #23
@Starli0n thanks for reporting back the solution.
The numbers are the ASCII colors.
`[1;30;40m` is Bold on, Black foreground, and Black background
while
`[1;39;40m` is Bold on, Black background, but unknown foreground according to [this list](http://ascii-table.com/ansi-escape-sequences.php).

I think the customization is sensitive to the Cmder version. I haven't tested with the latest update. I'l

[2017-12-22 22:11] anthony-brien opened #25 "Branch name has green background even with modifications"
I think this is because `get_git_status()` uses `git status --no-lock-index` which doesn't seem to be supported on my version of git (2.8.1). I can't find any documenation for this parameter.

If I remove `--no-lock-index` it shows the correct yellow background.

[2017-12-22 22:20] anthony-brien commented on #25
After installing git 2.15.1, it works!

[2017-12-22 22:20] #25 closed, assigned to nobody

[2018-01-17 10:24] nickimola opened #26 "Feature - Change default branch colors"
Hi,

This is not an issue, but rather a feature/assistance request.

Is it possible to change the colour of the branches?

I mean, white on green on my screen is really hard to read, so if master is "clean" i'd like to have it as black (foreground) on green arrow.

I try to change the colors in the lua config but without any luck.
Can you give me a quick hand on how to do this? and maybe change th

[2018-01-17 11:02] #26 closed, assigned to nobody

[2018-01-21 02:05] AmrEldib commented on #26
@nickimola [this line](https://github.com/AmrEldib/cmder-powerline-prompt/blob/d1a3a40bf47b373cb83778fc846b3ce688868211/powerline_prompt.lua#L182) sets the color for a clean branch and the next line sets the color for a dirty branch.
[This documentation page](http://ascii-table.com/ansi-escape-sequences.php) includes the different possible colors and how to set them.
I hope this helps.

[2018-01-21 02:15] nickimola commented on #26
Hi, yeah i closed it cause I found it. Thanks anyway :)

On 21 Jan 2018 03:05, "Amr Eldib" <notifications@github.com> wrote:

[2018-02-23 02:41] lednhatkhanh commented on #22
How did you fix this problem, thanks.

[2018-02-23 04:08] alan-agius4 commented on #22
Check my above comment!

[2018-02-26 03:33] lednhatkhanh commented on #22
That didn't work for me though :(

[2018-03-02 05:27] easysun opened #28 "powerline_prompt.lua:194: attempt to call global 'get_git_branch' (a nil value)"
It can't show correctly when change directory to .git folder. The error as the following image.
![image](https://user-images.githubusercontent.com/5380578/36884718-8d7a80ac-1e1d-11e8-8530-c7696c67a721.png)

[2018-03-02 07:16] jotka commented on #28
the same for me :-|

[2018-03-02 22:49] sarisia commented on #28
Same here and found that this commit is the cause.
https://github.com/cmderdev/cmder/commit/29c5e839757f9bf9b649f63f534add408b723857

For temporary workaround, download clink.lua from this commit and replace
cmder/vendor/clink.lua with it.
https://github.com/cmderdev/cmder/commit/46d468aea09d59e260c57282b6c5de0d6e9f8b29

[2018-03-06 07:10] mattdkerr commented on #28
The other solution to this would be to copy the get_git_branch function into the powerline_prompt.lua, making it not rely on the other present scripts.

[2018-03-06 07:13] mattdkerr commented on #28
https://github.com/AmrEldib/cmder-powerline-prompt/pull/29

[2018-03-06 17:20] mattdkerr opened #30 "Feature Request: git peek summary"
RE: https://superuser.com/questions/1298930/how-do-i-modify-cmder-to-show-my-git-change-summary-on-the-prompt-a-c-d

I found gist for adding this to the standard Clink prompt in Cmder: https://gist.github.com/jonasem/e8b3a6258a495946df12

It would be cool to have this same feature integrated into your powerline prompt.

[2018-03-08 02:22] lednhatkhanh commented on #28
Is this project not being maintained anymore?

[2018-03-09 12:29] AmrEldib commented on #28
Thank you all for your participation, and Thank you @mattdkerr for fixing this.
My apologizes for the delay, I've been away lately.

[2018-03-09 12:29] #28 closed, assigned to nobody

[2018-03-14 18:08] mattdkerr commented on #23
@AmrEldib I noticed that Cmder seems to pick up whatever the last color is set to on status line for the lambda on initial load of the prompt, for the rest of the session

[2018-03-14 18:10] mattdkerr commented on #20
@ararog can you use the test files in the cmder subdirectory to test your unicode, with powerline lua removed? because it shouldn't be related

[2018-04-05 02:14] ivanjonas opened #31 "Dirty git repos not detected correctly"
It seems that even dirty git repos will have the green "clean" flag. I narrowed down the problem to a mistyped git flag. PR incoming.

[2018-04-05 17:50] #31 closed, assigned to nobody

[2018-04-22 16:17] GregoryShields opened #34 "addSegment?"
I tried using your prompt and got the following message:
C:\Cmder\config\powerline_prompt.lua:66: attempt to call global 'addSegment' (a nil value)

It appears that it can't find the addSegment function, but I have no idea what I'm doing aside from that.

Incidentally, your instructions have a non-working example of using mklink. Your example shows hyphens and includes the word "cmder" in the .lua

[2018-04-23 16:15] AmrEldib commented on #34
@gregshields sorry, the README should be updated to reflect the latest changes.
You should mklink for all file, especially: powerline_core.lua, powerline_prompt.lua, powerline_git.lua
_powerline_config.lua is for configurations
powerline_hg.lua is for Hg

[2018-04-23 16:20] AmrEldib commented on #34
@gregshields I've edited the [README](https://github.com/AmrEldib/cmder-powerline-prompt/blob/master/README.md#usage) file to reflect latest changes

[2018-04-23 17:06] GregoryShields commented on #34
Thanks for the update. It works!
Have you tried making it work with Bash/Git Bash?

I'm pretty ignorant about all of this and not sure what Hg is.

[2018-04-23 19:49] AmrEldib commented on #34
@gregshields this prompt is inspired by one of OhMyZsh themes. For Linux shells, I recommend using [OhMyZsh](http://ohmyz.sh/), it's pretty powerful.

[2018-04-23 19:49] #34 closed, assigned to nobody

[2018-04-23 22:20] GregoryShields commented on #34
Thank you. I appreciate it.

[2018-04-24 15:55] sp3c1 opened #35 "Git Conflict"
Would propose to set the git segment to red background and white text when following:
[code]
is not empty (this should give list of all files with conflict)

[2018-04-26 12:43] ndraiman commented on #31
I'm still seeing this issue.

Removing the `--no-optional-locks` from the `io.popen()` call in `get_git_status()` function fixed it for me.

[2018-04-27 03:00] ivanjonas commented on #31
That's really interesting. Was there anything special about your modified files that might have caused a difference? I found it unnecessary to remove that flag, so I'm curious about the difference between our experiences.

[2018-05-10 06:35] ndraiman commented on #31
Maybe it's an issue with an old git version, its was a work computer.

[2018-05-22 16:43] mattdkerr commented on #35
Was this resolved in the last PR merge?

[2018-05-22 16:47] mattdkerr commented on #23
@Starli0n is this still an issue with latest version for you?

[2018-05-22 18:14] AmrEldib commented on #35
@mattdkerr no, but should be possible to do

[2018-05-22 19:02] mattdkerr opened #36 "config for optional characters doesn't work with SauceCodePro NF"
![image](https://user-images.githubusercontent.com/595328/40384232-d7483664-5db7-11e8-9eb7-4a7f6c931fa0.png)
![untitled2](https://user-images.githubusercontent.com/595328/40384309-ff4d8f42-5db7-11e8-9a74-3b92eeea33e7.png)
font downloaded from https://nerdfonts.com/
used the search to find the unicode and character map to copy/paste them

[2018-05-22 19:04] mattdkerr commented on #23
No repro for me

[2018-05-22 23:42] mattdkerr commented on #36
may just be a bug with the optional symbols? for now I have switched back to "full" instead of "smart" prompt type.

[2018-05-22 23:45] mattdkerr commented on #35
@AmrEldib I see it in file powerline_git.lua:103 I just haven't tested it yet

[2018-05-22 23:46] mattdkerr commented on #23
@AmrEldib I recommend closing this one as External

[2018-05-22 23:48] mattdkerr commented on #20
here are my settings, it seems to work well for me. I got my font from Nerd Fonts, the hacked Source Code Pro font and Inconsolata (Consolas hacked)

![image](https://user-images.githubusercontent.com/595328/40396061-eab28420-5ddf-11e8-83b4-7a89232b4a16.png)

works for me, recommend closing this as External / No Repro

[2018-05-22 23:51] mattdkerr commented on #5
@AmrEldib can we link out to their repository in the readme.md here?

[2018-05-23 16:43] AmrEldib commented on #35
@mattdkerr it's working
![image](https://user-images.githubusercontent.com/769272/40438729-a29bbdb2-5e6d-11e8-863a-70f705670998.png)

[2018-05-23 16:43] #35 closed, assigned to nobody

[2018-05-23 16:43] #23 closed, assigned to nobody

[2018-05-23 16:51] AmrEldib commented on #36
it's a bug. In `powerline_npm.lua` line 52, this
[code]
should be
[code]

and, in `powerline_prompt.lua` line 65, this
[code]
should be
[code]

[2018-05-30 15:43] JorgeGRC commented on #5
Hi, I tried your solution @Tset-Noitamotua but unfortunately when I'm activating any of the virtualenvs I get this:

`\powerline_venv_prompt.lua:193: attempt to index global 'exports' (a nil value)`

![image](https://user-images.githubusercontent.com/13333385/40731267-f8469e9e-6430-11e8-9d02-3b8cf45ffabc.png)

![image](https://user-images.githubusercontent.com/13333385/40731399-3b8d4874-6431-11e8-

[2018-05-30 22:50] #36 closed, assigned to AmrEldib

[2018-05-30 22:52] AmrEldib commented on #20
I'm closing this as _External / No Repro_

[2018-05-30 22:52] #20 closed, assigned to nobody

[2018-06-14 03:11] 1600 commented on #5
Up with JorgeGRC, debugging right now.

[2018-07-11 23:39] shreyasbharath opened #41 "Feature request: show how many commits you are behind by with tracking branch"
This would be really handy and remind you to rebase/merge if you are behind with your tracking branch.

It could poll in the background every X minutes/seconds (this is what Git GUIs like SourceTree do in the background).

What do you think?

[2018-07-14 21:48] Kbman99 commented on #5
@JorgeGRC Did you ever figure out the cause? I can't seem to find the exports variable in any of the `.lua` files.

[2018-07-15 22:09] Kbman99 commented on #5
Fixed my issue. For anyone who may be running into the `attempt to index global 'exports' (a nil value)` . It seems that `exports.basename(path)` is a global function created in the `cmder/vendor/clink-completions/modules/path.lua`. I simple copied the function and modified it to be a locally defined function within the `cmder/config/powerline_venv_prompt.lua` file. Below are the two solutions I h

[2018-07-26 21:48] AmrEldib opened #42 "Add Easier way to create symbolic links to all required files"

[2018-08-14 09:14] jedchang opened #44 "Chinese path folder will appear garbled..."
Chinese path folder will appear garbled...
![error](https://user-images.githubusercontent.com/8979857/44083029-8233c1be-9fe5-11e8-803a-72edad8972a4.jpg)

[2018-08-18 04:37] AmrEldib commented on #44
Same applies for other non latin-based languages. I think ConEmu might be the cause of this. Needs more investigation

[2018-08-18 04:42] AmrEldib commented on #41
Just to clarify, the prompt would do a `git status` and add a symbol/number if it's behind the remote branch?
Note that the prompt can't run any background process, it gets invoked every time you hit Enter and a new prompt is displayed on screen. That's the only chance to run any code.

[2018-08-18 07:08] shreyasbharath commented on #41
Yea that's correct, basically show how many commits it's behind by.

Okay I wasn't aware that you could only run code only when you hit Enter. However, that limitation is okay.

What do you think? I would personally find this very useful as I don't want to rely on any GUI tools to tell me when to rebase with the tracking branch.

[2018-08-22 01:11] jedchang commented on #44
It is a normal displayable path before the powerline .lua file is used.

![22_x_22_09-05-39](https://user-images.githubusercontent.com/8979857/44437159-4cd93100-a5eb-11e8-99aa-f68ed2ff11fb.jpg)

[2018-10-03 16:45] steveoh commented on #5
so if cmder supports showing env's by default, and powerline breaks this feature and this enhancement no longer works... what is the proper solution?

this is my solution for conda

[code]

[2018-11-15 08:08] jeud opened #45 "please help to display npm symbol"
Dear all

I have tried to follow the the [instruction](https://github.com/AmrEldib/cmder-powerline-prompt#font) on the *readme.md* but I couldn't figure out how to display the npm symbol on my prompt correctly

![](https://u.cubeupload.com/jeud/DTXLgR.png)

![](https://u.cubeupload.com/jeud/FybXUs.png)

![](https://u.cubeupload.com/jeud/xE8HOg.png)

Please guide
Thanks

[2018-11-16 16:37] #45 closed, assigned to nobody

[2018-11-17 15:00] ouweiya opened #46 "The git prompt doesn't work?"
##### Why is the prompt for powerline_git.lua in %CMDER_ROOT%/config not to work?
Or what am I missing?
How does it pop up a prompt?

![snipaste_2018-11-17_22-59-14](https://user-images.githubusercontent.com/28357731/48662392-77d50300-eabc-11e8-94b8-a0055d52e701.png)

![snipaste_2018-11-17_23-02-38](https://user-images.githubusercontent.com/28357731/48662432-edd96a00-eabc-11e8-9b27-8415d0c2fa34.pn

[2018-12-10 12:42] bacar opened #47 "Wrong git branch is displayed when using a linked git worktree"
When using [git worktrees](https://git-scm.com/docs/git-worktree), the git branch displayed in a prompt when in a linked worktree is incorrect - it displays the current branch from the main worktree.

[2018-12-10 12:58] bacar commented on #47
In any fix, is it worth using the plumbing commands (instead of parsing the gitdir contents directly) to make sure this is also more future-proof?

[2018-12-10 13:48] bacar commented on #47
The problem seems to be with this line in `local function has_git_file(dir)`:

    return git_dir and dir..'/'..git_dir

This probably works for submodules (which seem to put a relative `gitdir:` into the `.git` file), but not for worktrees (which seem to put in an absolute path).

[2018-12-10 15:05] bacar opened #49 "Suggestion: clarify licence"
e.g. add an OSS licence such as https://choosealicense.com/licenses/mit/

https://blog.github.com/2013-07-15-choosing-an-open-source-license/

Github makes it an easy couple of clicks to add a licence. If you're happy with one of the standard ones such as MIT, I'm happy to raise a PR.

[2018-12-14 04:01] ghost commented on #44
Did you solve the same problem?

[2018-12-14 06:21] jedchang commented on #44
Did not solve the problem...

[2018-12-14 06:46] ghost commented on #44
I tried powershell+ oh-me-posh and felt nice

[2018-12-14 08:03] jedchang commented on #44
I switched to ubuntu + oh-my-zsh to use

[2018-12-14 08:04] jedchang commented on #44
I switched to ubuntu + oh-my-zsh to use

[2018-12-25 06:37] DavidTan0527 opened #50 "Error when cd into git project folder"
Whenever I tried to do `cd <git project folder name>`
It would output multiple lines of "The process tried to write to a nonexistent pipe."

[2019-03-12 21:50] NekoShinobi commented on #5
Is there a way to add virtualenv next to the git as another prompt module?

Also anyone have a working solution for pipenv (without the hash values)

[2019-03-23 22:21] dmwyatt opened #55 "powerline_npm.lua adds extra λ"
https://i.imgur.com/CDrRkww.png

If I am in a folder that is actually an npm package, that extra lambda disappears and everything works correctly.

I confirmed that this was likely due to `powerline_npm.lua` by removing it from my config directory and restarting cmder.

I can't quite figure this one out myself...

[2019-03-29 17:19] dmwyatt opened #56 "Fork project to new actively-maintained repo."
It looks like @AmrEldib does not maintain this project anymore and he's hardly active on GitHub at all.

Are any of the current forks seeing activity?  Should someone fork this and handle merging PRs and whatnot?

We could probably get cmdr to link to a new fork if someone was actively maintaining it...

[2019-04-02 15:29] sn0rlacks commented on #5
So, Is this something that could work with the portable version?

[2019-04-02 15:32] Tset-Noitamotua commented on #5
I have not tested it with the portable version.

Josh Chrestman <notifications@github.com> schrieb am Di., 2. Apr. 2019,
17:30:

[2019-04-02 15:42] sn0rlacks commented on #5
@Tset-Noitamotua A simple creation of the pyenv_prompt_config.lua didn't do anything. No errors, and the env seems to have been activated, but theres no change in the console.

Im also using activate <env_name> rather than workon... not sure if clink cares about that? Very unfamiliar with all this lua config.

[2019-04-02 16:16] Tset-Noitamotua commented on #5
Me, too have no clue about lua :-)
maybe the maintainer of the repo I forked from can help you.

Actually I switched to Linux cause I was tired of all the extra steps
needed when it comes to setup all the cool stuff. It was always like: u see
something cool on Mac or Linux then have to go and find a workaround to
achive the same on Windows :-(

Josh Chrestman <notifications@github.com> schrieb am

[2019-04-16 20:33] CollinChaffin commented on #55
I have confirmed it is actually the new version of powerline_hg.lua causing this.  I have not had the time to dig into it yet to determine why but a very quick diff shows all the refactoring including an init() that I believe is tacking on the prompt regardless of whether it is even that type.  Rolling back to the prior version of powerline_hg.lua is obviously not the long-term solution since it n

[2019-04-16 21:08] mattdkerr commented on #56
I'd like to contribute again here and there but don't have time to be a maintainer.

[2019-04-16 21:09] mattdkerr commented on #46
what happens if you copy all of the lua files into your config directory?

[2019-04-16 21:10] mattdkerr commented on #41
this is duplicate of https://github.com/AmrEldib/cmder-powerline-prompt/issues/30

[2019-04-18 06:11] #46 closed, assigned to nobody

[2019-04-19 14:47] dmwyatt commented on #55
Yeah, if I remove `powerline_hg.lua` it fixes it.  Odd, that removing `powerline_npm.lua` also fixes it...

[2019-04-25 09:09] benavern commented on #56
(Un)fortunately, I am on linux full-time now so I don't need to maintain this.

However, my customisations should still work: https://github.com/benavern/cmder_custom

[2019-05-09 13:24] digeomel commented on #19
I know this issue is closed, but I just wanted to ask the same question and I stumbled upon this. I'm using bash with cmder, too, and don't want to go back to the Windows command prompt just for this 😞

[2019-07-14 20:47] Darkensses commented on #45
@jeud you need to modify the line 53 in the powerline_npm.lua file
`segment.text = " "..npmSymbol.." "..package_name.."@"..package_version.." "`

change to:
`segment.text = " "..plc_npm_npmSymbol.." "..package_name.."@"..package_version.." "`

I hope this trick being useful 👍

[2019-10-27 11:08] samayo opened #59 "Setup not working"
I don't know what I am exactly missing, but I did everything according to the readme and also checked [another guide](https://tahoeninjas.blog/2018/05/27/changing-your-command-prompt-to-display-node-module-and-git-information-like-the-sharepoint-conference-presenters/) but I can't get it to work or show anything differently.

I have downloaded the AnonymousPro from https://github.com/powerline/fon

[2019-11-19 09:59] Muadiv commented on #59
Hi @samayo , I installed and is working for me. Check my config on the font part that have a couple of options different, maybe that will help.

![image](https://user-images.githubusercontent.com/5289235/69136679-93059480-0abb-11ea-86de-e89f2ee5dcc8.png)

Best regards
Muadiv.

[2019-11-25 17:06] tordenflesk opened #60 "Broken with CMDER Version 1.3.12.964"
https://i.imgur.com/TUR8k10.png
https://i.imgur.com/q25TFUR.png

[2020-01-31 23:31] johnyoonh commented on #13
@mrchief you made my day. Thank you so much!

[2020-02-25 10:50] eblis opened #61 "Error when loading clink lua scripts"
I'm trying to run your lua scripts with ConEmu and clink (installed globally) and I've copied the scripts to where I think clink expects them: c:/users/<user>/appdata/local/clink/*.lua but when I start ConEmu i get the following error:

`C:\Users\<user>\AppData\Local.\clink\powerline_prompt.lua:57: bad argument #2 to 'find' (string expected, got no value)`

the line in question is:
`        if plc

[2020-02-25 10:52] eblis commented on #61
Setting `plc_prompt_useHomeSymbol = false` gets rid of the issue - seems to be something related to showing pretty icons instead of my home folder

[2020-03-03 16:19] patstew commented on #61
You need to change
`clink.get_env("HOME")`
to
`clink.get_env("HOMEDRIVE") .. clink.get_env("HOMEPATH")`
on that line and the line below.

[2020-03-03 16:25] eblis commented on #61
Thanks, I'll give it a try and report back.

I've also noticed a weird issue since installing this, but I didn't have time to investigate it yet.
Basically I can no longer paste code with ctrl + shift + insert in conemu, only right clicking works.
I've also added some `aliases` for `ll` and `cd /d` which have also stopped working. It is as if the conemu scripts are no longer executed

[2020-03-04 09:09] eblis commented on #61
That seems to have solved both issues.
I can now paste using shift+insert, my aliases work and I don't get an error when home symbol is enabled.

Thanks

[2020-03-04 09:09] #61 closed, assigned to nobody

[2020-03-16 02:00] Leslie307 commented on #59
win10 system，I have the same problem.
I reinstalled the cmder ，the problem is solved.

[2020-03-19 01:33] ccalvarez opened #62 "Display Node.js version"
Hi, it would be nice to see the Node.js version, as shown:

![image](https://user-images.githubusercontent.com/2665104/77022457-463da780-694f-11ea-9a58-56634e23538d.png)

Thank you.

[2020-03-20 21:49] lucknaumann commented on #59
removing the "_" from the beginning of "_powerline_config.lua" so it reads "powerline_config.lua" solved it for me. win10.

[2020-03-20 21:55] ghost opened #63 "Breaks cmder's "cd ~" function in Admin PowerShell prompt"
After installing this and trying to use "cd ~" to go the Home folder (located in the usual place) no longer works. How to fix? Win10 (if that matters).

Also - @AmrEldib Thanks for this!

EDIT: This is in an Admin PowerShell prompt only.
EDIT2: Restarting cmdera few times fixed it.

[2020-03-20 22:31] #63 closed, assigned to nobody

[2020-05-01 21:20] SuperMaZingCoder opened #64 "Use A Custom Theme"
How can I *also* use a custom theme?

[2020-06-09 14:08] Neluji opened #65 "Accented characters not working"
The accented characters (like the É or the À that I use as I am French) aren't recognized when inside the path, like here :
![image](https://user-images.githubusercontent.com/38362829/84157139-a6ce1380-aa6a-11ea-94a5-5a46c9f842da.png)
Behaves in the same way for lowercase or uppercase letters.

(PS: Yes I know it's not a good practice to name folders with accented characters, but I preferred repor

[2020-06-16 04:25] testworksau commented on #59
I also had the same issue. I think the issue occurs due to some old & incompatible files / configuration settings that may have been placed in various directories over time.

With no changes to the fonts at all, a fresh install of Cmder, and copying of the *.lua files into the config directory you should see something like this on first startup of Cmder:

![image](https://user-images.githubusercon

[2020-06-16 17:02] ghost commented on #59
@samayo
Your issue appears to be using another shell and not the Window's Command prompt. You'll notice at the top of the README there's a link for a version of the Powershell prompt.

If you want bash/MINGW64 check out this [powerline-shell repo](https://github.com/b-ryan/powerline-shell). You may need to add this additional line to your Cmder's .bashrc `export PYTHONIOENCODING="utf-8"`. If you a

[2020-06-16 17:05] samayo commented on #59
Thanks I will check again

[2020-08-22 05:01] alfrededison opened #68 "Feature request: Add git commit short SHA and datetime segments"
Add datetime segment on left-most position with customizable format and git commit short SHA next to git branch segment
![image](https://user-images.githubusercontent.com/6639722/90949047-f66b8b00-e46e-11ea-9bb9-dfce27a3b74f.png)

[2020-08-25 10:45] shiwen commented on #59
@samayo I had the same issue that the setup procedure have absolutely no effect on my cmder sessions. After a long time of frustration, I have found the root cause. Before I try out cmder, I installed clink manually via chocolatey. I believe that instance of clink was installed in a somewhat global manner which cmder session refer to during initialization, other than the instance of clink packed w

[2020-09-01 15:23] malkavsheir opened #69 "NPM and GIT in config breaks the display"
I enabled the npm and git specific prompts in the _powerline_config.lua and specified the characters I wanted to use from NerdFonts. However, when i enter a folder that is git or npm (or both) the prompt changes to the default cmd style folder and prompt.
![image](https://user-images.githubusercontent.com/56970761/91871640-469fd580-ec45-11ea-8475-7db046fa6cc1.png)
<br />
If i do not use the git an

[2020-09-02 13:02] samayo commented on #59
@shiwen  I gave up on it a long time ago, but thank for the info. If I ever decided to try again I will follow your comment 👍

[2020-09-02 13:02] #59 closed, assigned to nobody

[2020-09-07 21:10] ghost commented on #69
I'm not sure you can change the prompt when only using those specific directories. The lines in the powerline_config.lua display on the powerline prompt. For instance, in an npm folder, the symbol should display on the `<Name>@<version#>` segment. For instance, ` <NPMsymbol> giveaway-grabber@2.7.0`. Unfortunately, any git symbol (including the default "GIT") doesn't seem to work for me, regardless

[2020-10-22 06:16] ms3056 opened #70 "Add conda virtual environment"
Please consider adding the Python Environment name to the front of the string like:

(python3.7) Blah Blah>Blah Blah>

Thanks!

[2020-12-27 18:38] rashil2000 commented on #56
@dmwyatt @mattdkerr I don't know if you still use this, but I tried my best to fork this and merge all PR's in this repo, solving some of the issues (I don't know much about Lua), even adding another small segment for battery status.

[2020-12-28 00:05] chrisant996 commented on #65
I think that's a Clink limitation, not a cmder-powerline-prompt issue.

And it's working in the [chrisant996/clink](https://github.com/chrisant996/clink) fork of Clink.

[2021-02-04 20:54] DemirTonchev commented on #70
I was able to add conda env like this:
[code]

[2021-07-21 14:27] #65 closed, assigned to nobody

[2021-11-12 07:23] JackieAnxis opened #71 "ConEmu does not have a "./config" directory"
When I perform `Download the .lua files, and place it in %CMDER_ROOT%/config folder.` in the README, I find that ConEmu does not have a 'config' folder.
Creating a 'config' folder does not work, either.
How to config powerline for the latest ConEmu version (210912 stable)?

[2021-11-12 09:00] #71 closed, assigned to nobody

[2022-04-13 09:19] JackieAnxis opened #72 "Is it compatible with Windows 11?"
I used cmder-powerline-prompt in Windows 10 for more than 3 years.
Recently, I upgraded my OS to Windows 11.
Cmder failed to load powerline-prompt.
Is there anyone meeting the same problem?
![image](https://user-images.githubusercontent.com/19246028/163143740-c0be35ec-07ed-4f26-9c2d-7be8184a03f5.png)
![image](https://user-images.githubusercontent.com/19246028/163143824-9275e5aa-2bcf-4fa8-953d-b709

[2022-04-13 09:30] #72 closed, assigned to nobody

[2022-04-13 09:30] JackieAnxis commented on #72
OK, updating the cmder fixes this problem.

[2022-05-06 04:23] cateyes99 opened #73 "Doesn't work well with Windows Terminal's transparency on"
This powerline prompt works well with Cmder. But I followed this post [**_Windows Terminal + Cmder = ❤️_**](https://medium.com/talpor/windows-terminal-cmder-%EF%B8%8F-573e6890d143) to make Cmder work within **Windows Terminal**.

Found out that the powerline prompt work fine when **Windows Terminal**'s transparent is turned off.
![image](https://user-images.githubusercontent.com/19678455/167064906

[2022-07-14 14:36] tan-wei opened #75 "Since `git version 2.37.1.windows.1`, the git status is not working"
After update to the latest version '2.37.1', git status is not working for the prompt (always green). Seems some break update is done on the upstream.

[2022-07-14 14:40] tan-wei commented on #75
But `git --no-optional-locks status --porcelain 2>nul` works well. It will return the dirty file. Strange...

[2022-07-14 15:06] #75 closed, assigned to nobody